design/index.html
<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tampere Bus Schedule</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="index-container">
      <header>
        <div class="search-box"><img src="img/busstop.png">
          <input autofocus placeholder="Choose busstop name or number" class="input">
        </div>
      </header>
      <ul class="results">
                <li class="item">
                  <div class="icon"></div>
                  <div class="top-row"><span class="name">Kierikankatu</span><span class="number">3068</span></div>
                  <div class="bottom-row"><span class="towards">towards Keskustori</span></div>
                </li>
                <li class="item">
                  <div class="icon"></div>
                  <div class="top-row"><span class="name">Kierikankatu</span><span class="number">3068</span></div>
                  <div class="bottom-row"><span class="towards">towards Keskustori</span></div>
                </li>
                <li class="item">
                  <div class="icon"></div>
                  <div class="top-row"><span class="name">Kierikankatu</span><span class="number">3068</span></div>
                  <div class="bottom-row"><span class="towards">towards Keskustori</span></div>
                </li>
      </ul>
    </div>
  </body>
</html>

design/index.jade
doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Tampere Bus Schedule
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/main.css')
  body
    div.index-container
        header
            div.search-box
                img(src="img/busstop.png")
                input.input(autofocus placeholder="Choose busstop name or number")
        ul.results
            mixin results(name,number,towards)
                li.item
                    div.icon
                    div.top-row
                        span.name #{name}
                        span.number #{number}
                    div.bottom-row
                        span.towards #{towards}
            +results("Kierikankatu","3068","towards Keskustori")
            +results("Kierikankatu","3068","towards Keskustori")
            +results("Kierikankatu","3068","towards Keskustori")
