design/results.html
<!DOCTYPE html>
<html class="no-js results">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tampere Bus Schedule</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="result-page-container">
      <header>
        <div class="stop-name"><span class="name">Kierikankatu (3065)</span><span class="towards">towards Ylojarvi</span></div>
      </header>
      <div class="bus-numbers">
        <div class="results"><span class="item">13</span><span class="item">13</span><span class="item">13</span><span class="item">13</span><span class="item">13</span><span class="item active">15</span></div>
      </div>
      <div class="results">
        <table class="timetable">
          <thead>
            <tr>
              <th>klo</th>
              <th>Monday-Friday</th>
            </tr>
          </thead>
          <tbody> 
            <tr>
              <td class="hour">4</td>
              <td class="min"> <span class="13">23</span></td>
            </tr>
            <tr>
              <td class="hour">5</td>
              <td class="min"> <span class="13">03</span><span class="13">33</span></td>
            </tr>
            <tr>
              <td class="hour">6</td>
              <td class="min"> <span class="13">03</span><span class="13">18</span><span class="13">33</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span></td>
            </tr>
          </tbody>
        </table>
        <table class="timetable">
          <thead>
            <tr>
              <th>klo</th>
              <th>Monday-Friday</th>
            </tr>
          </thead>
          <tbody> 
            <tr>
              <td class="hour">4</td>
              <td class="min"> <span class="13">23</span></td>
            </tr>
            <tr>
              <td class="hour">5</td>
              <td class="min"> <span class="13">03</span><span class="13">33</span></td>
            </tr>
            <tr>
              <td class="hour">6</td>
              <td class="min"> <span class="13">03</span><span class="13">18</span><span class="13">33</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span><span class="13">48</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>

design/jade/results.jade
doctype
html.no-js.results
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Tampere Bus Schedule
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    link(rel='stylesheet', href='css/normalize.css')
    link(rel='stylesheet', href='css/main.css')
  body
    div.result-page-container
        header
            div.stop-name
                span.name Kierikankatu (3065)
                span.towards towards Ylojarvi
        div.bus-numbers
            div.results
                span.item 13
                span.item 13
                span.item 13
                span.item 13
                span.item 13
                span.item.active 15
        div.results
            table.timetable
                thead
                    tr
                        th klo
                        th Monday-Friday
                tbody 
                    tr
                        td.hour 4
                        td.min 
                            span.13 23
                    tr
                        td.hour 5
                        td.min 
                            span.13 03
                            span.13 33
                    tr
                        td.hour 6
                        td.min 
                            span.13 03
                            span.13 18
                            span.13 33
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
            table.timetable
                thead
                    tr
                        th klo
                        th Monday-Friday
                tbody 
                    tr
                        td.hour 4
                        td.min 
                            span.13 23
                    tr
                        td.hour 5
                        td.min 
                            span.13 03
                            span.13 33
                    tr
                        td.hour 6
                        td.min 
                            span.13 03
                            span.13 18
                            span.13 33
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
                            span.13 48
